
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap
}
/* OVERALL PAGE STUFF */
html{
  height:100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: rgb(2, 2, 2);
  font-weight: 700;
  height: 100%;
  margin:0;
  
  font-size: x-small;
}

/* HEADER STUFF */
b {
  font-weight: bold;
}

a {
  color: rgb(2, 2, 2);
  font-weight: 600;
}

p {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}


/* HEADER STUFF */
.pageheader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin:10px;
  vertical-align: center;  
}
.headerpicture {
  width: 50px;
  border-radius: 5px;
  margin: 3px;
}
.headername {
  font-size: large;
  font-weight: bolder;
  vertical-align: middle;
}

/* MAIN PAGE AREA STUFF */

.mainpage {
  display: flex;
  flex-direction:row;
  flex-flow: row;
  max-width: 100%;
}

.sectionTitle{
  font-family: 'Roboto','Montserrat', sans-serif;
  font-size: larger;
}

.aboutme {
  flex: 1 1 0 auto;
  height:max-content;
  text-align: left;
  padding: 20px
}

.skills {
  flex: 1 1 0 auto;
  height:max-content;
  
  text-align: center;
  display: block;
}
.skilltext {
  font-size: x-small;
  vertical-align: middle;
  display: inline-block;
}

.w3-container w3-light-grey w3-round {
  vertical-align: middle;
  display: inline-block;
}

.projects {
  flex: 1 1 0 auto;
  height:max-content;
  max-width: 400px;
  padding: 20px
}

.projectLink {
  font-size: x-small;
  font-weight: lighter;
}

/* LINKS STUFF */
.links{
  margin: 10px;
  height: 100px;
  flex-shrink: 1;
  max-width: 400px;
  padding: 20px
}

.linkstext {
  font-size: small;
  text-align: left;
}

.projectCat {
  font-size: x-small;
  text-align: left;
}

.projectDescr {
  font-size: small;
  text-align: left;
}

.projectStatus {
  font-size: x-small;
  text-align: right;
}

.w3-container{
  height: 20px;
  margin: 3px;
}
/* FOOTER STUFF */
.pagefooter {
  margin: 0px;
  height: 50px;
  flex-shrink: 0;
  width:100%;
  position:fixed;
  bottom:0;
  background-color: white;
  opacity: 0.9;
  
}
.footertext {
  font-size: x-small;
  text-align: center;
  vertical-align: middle;
}

