
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap
}
/* OVERALL PAGE STUFF */
html{
  height:100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: rgb(2, 2, 2);
  font-weight: 700;
  height: 100%;
  margin:0;
  
  font-size: x-small;
}

/* HEADER STUFF */
b {
  font-weight: bold;
}

a {
  color: rgb(2, 2, 2);
  font-weight: 600;
}

p {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}


/* HEADER STUFF */
.pageheader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin:10px;
  vertical-align: center;  
}
.headerpicture {
  width: 50px;
  border-radius: 5px;
  margin: 3px;
}
.headername {
  font-size: large;
  font-weight: bolder;
  vertical-align: middle;
}

/* MAIN PAGE AREA STUFF */

.mainpage {
  display: flex;
  flex-direction:row;
  flex-flow: row;
  max-width: 100%;
}

.sectionTitle{
  font-family: 'Roboto','Montserrat', sans-serif;
  font-size: larger;
}

.aboutme {
  flex: 1 1 0 auto;
  height:max-content;
  text-align: left;
  padding: 20px
}

.skills {
  flex: 1 1 0 auto;
  height:max-content;
  
  text-align: center;
  display: block;
}
.skilltext {
  font-size: x-small;
  vertical-align: middle;
  display: inline-block;
}

.newSkillList {
  list-style-type: none;
}

.newSkillList ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.newSkillList li {
  padding: 0.8rem;
  border-radius: 20px;
  font-weight: 700;
  font-size: 1.2rem;
  box-sizing: border-box;
}

.arduino {background: #ff8e5d;}
.react {background: #5b89f6;}
.php {background: #e4ce3d;}
.pihole {background: rgb(214, 123, 241);}
.pinhole {background: #e18399;}
.solidity {background: #02d083;}
.nodejs {background: rgb(106, 106, 221);}
.javascript {background: rgb(67, 67, 136);}
.mysql {background: rgb(214, 123, 241);}
.mqtt {background: rgb(67, 67, 136);}
.html {background: #ff8e5d;}
.css {background: #02d083;}

.w3-container w3-light-grey w3-round {
  vertical-align: middle;
  display: inline-block;
}

.projects {
  flex: 1 1 0 auto;
  height:max-content;
  max-width: 400px;
  padding: 20px
}

.projectLink {
  font-size: x-small;
  font-weight: lighter;
}

/* LINKS STUFF */
.links{
  margin: 10px;
  height: 100px;
  flex-shrink: 1;
  max-width: 400px;
  padding: 20px
}

.linkstext {
  font-size: small;
  text-align: left;
}

.projectCat {
  font-size: x-small;
  text-align: left;
}

.projectDescr {
  font-size: small;
  text-align: left;
}

.projectStatus {
  font-size: x-small;
  text-align: right;
}

.w3-container{
  height: 20px;
  margin: 3px;
}
/* FOOTER STUFF */
.pagefooter {
  margin: 0px;
  height: 50px;
  flex-shrink: 0;
  width:100%;
  position:fixed;
  bottom:0;
  background-color: white;
  opacity: 0.9;
  
}
.footertext {
  font-size: x-small;
  text-align: center;
  vertical-align: middle;
}

