@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500&display=swap');


/* 
color palette:
#F8EDE3 for page Background 
#BDD2B6 for Block Background
#A2B29F for Block Header
#798777 for Block border 
*/
.dhf{
color1: /* Turquoise */ #4cbfa6 ;
color1: /* Soft Lilac: */ #f6ebf4 ;
color1: /* Purple:  */#482673 ;
color1:/*  Orchid: */ #ed0b70 ;
color1: /* Digi Denim: */ #301008 ;
}

body {
  color: rgb(2, 2, 2);
  background-color: #F8EDE3;
}

a {
  color: rgb(2, 2, 2);
}

.collapsible {
  background-color: #A2B29F;
  border-color: #798777;
  outline-color: #798777;
  color: white;
}

.headertitle{
  color:white;
}

.active, .collapsible:hover {
  background-color: #798777;
}

.contentblock {
  background-color: #BDD2B6;
  border-color: #798777;
  box-shadow: 3px 5px #a09992;
}

.aboutmeText{
  color: dimgray;
}

.skillbar {
  background-color:#A2B29F;
  border-color: #798777;
}

.w3-container w3-light-grey w3-round {
  border-color: #A2B29F;
  background-color: #798777;
}

.Card {
  border-color:#798777;
  box-shadow: 3px 5px #888888;
 }

.foto1 {
  border-color:#798777;
}

.foto2 {
  border-color: #798777;
}

