.App {
  text-align: center;
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr;
  gap: 10px 10px;
  margin:10px;
  grid-auto-flow: row dense;
  grid-template-areas:
    "header header header"
    "left projects right"
    "footer footer footer";
}

.header { 
  grid-area: header;
 }

 .left {  
  display: grid;
  grid-template-columns: 1fr  ;
  grid-template-rows: 0 / 1 ;
  gap: 10px 5px;
  grid-template-areas:
    "about"
    "skills";
  grid-area: left;
  align-content:flex-start ;
  flex-direction: column;
  align-items: flex-start;
}

.about { 
  grid-area: about; 
  grid-auto-flow: row; 
  align-self:flex-start;
  gap: 10px 5px;
  border-radius: 5px;
  padding: 10px;
  padding-top: 10px;
  vertical-align: top;
  min-height: fit-content;
}

.skills {
  grid-area: skills; 
  /* background-color: aliceblue; */
  border-radius: 5px;
  margin: 5px;
  gap: 0rem;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

.projects {
  display: grid;
  grid-area: projects; 
  grid-template-columns: 1fr  ;
  grid-auto-flow: row; 
  border-radius: 5px;
  padding: 10px;
  padding-top: 10px;
  align-content: flex-start; 
  gap: 10px 5px;
}

.rightColumn {  
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 0 / 1;
  gap: 10px 5px;
  grid-auto-flow: column; 
  grid-template-areas:
    "links "
    "refferals";
  grid-area: right;
  align-content: flex-start; 
  flex-direction: column;
  align-items: flex-start;
}

.links{
  grid-area: links; 
  grid-auto-flow: row; 
  align-self:flex-start;
  gap: 10px 5px;
  border-radius: 5px;
  padding: 10px;
  padding-top: 10px;
  vertical-align: top;
  min-height: fit-content;
}

.Referrals{ 
  grid-area: refferals; 
  grid-auto-flow: row dense; 
  gap: 5px 5px;
  border-radius: 5px;
  padding: 10px;
  padding-top: 0px;
  vertical-align: top;
  min-height: fit-content;
}

.rightbottom{
  grid-area: rightbottom; 
  grid-auto-flow: row dense; 
  gap: 5px 5px;
  border-radius: 5px;
  padding: 10px;
  padding-top: 0px;
  vertical-align: top;
  min-height: fit-content;
}

.pagefooter {
  grid-area: footer; 
  background-color:#BDD2B6;
  opacity: 70%;
  border-radius: 5px;
  padding: 10px;
    margin: 0px;
  height: 50px;
  flex-shrink: 0;
  width:100%;
  position:fixed;
  bottom:0;
  opacity: 0.9;
}

